@model ShuttleControl.Models.Shuttle

@{
	ViewBag.Title = "Shuttle Control";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wocket Control</h2>

<h4 style="color:red">@ViewBag.Message</h4>

<fieldset>
	<legend>Wocket</legend>

	<div class="display-label">Name</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>

	<div class="display-label">Serial Number</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SerialNumber)
	</div>

	<div class="display-label">Payload</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Payload)
	</div>

	<div class="display-label">LaunchedOn</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.LaunchedOn)
	</div>

	<div class="display-label">LandedOn</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.LandedOn)
	</div>
</fieldset>
<p>
	@if (Model.IsReadyToLaunch()) {
		@Html.ActionLink("Launch", "Launch", new { id = Model.Id })
	}
	@if (Model.IsReadyToLand())
	{
		@Html.ActionLink("Land", "Land", new { id = Model.Id })
	}
	@if (Model.IsReadyToLoad())
	{
		<a href="javascript:loadShuttle()">Load Payload</a> 
	}
	@if (Model.IsReadyToRelease())
	{
		@Html.ActionLink("Release Payload", "Release", new { id = Model.Id })
	}
	|	
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
function loadShuttle() {
	 $("#dialog:ui-dialog").dialog("destroy");
	 $("#load-modal").dialog({
		 modal: true,
		 close: function () {
			$('#loadpayload-form').submit();
		}
	 });
}
</script>

<div id="load-modal" Title="Enter Payload" style="display:none">
	@using (Html.BeginForm("Load", "Shuttle", FormMethod.Post, new {id="loadpayload-form"}))
	{
		@Html.HiddenFor(model => model.Id)

		<fieldset>
			<label for="payload">Payload</label>
			<input type="text" name="payload" class="text ui-widget-content ui-corner-all" />
			<input type="submit" value="Load" />
		</fieldset>
	}
</div>