@model WebUI.Models.Shuttle

@{
	ViewBag.Title = "Shuttle Control";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wocket Control</h2>

<h4 style="color:red">@ViewBag.Message</h4>

<fieldset>
	<legend>Wocket</legend>

	<div class="display-label">Name</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>

	<div class="display-label">Serial Number</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.SerialNumber)
	</div>

	<div class="display-label">Payload</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Payload)
	</div>

	<div class="display-label">LaunchedOn</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.LaunchedOn)
	</div>

	<div class="display-label">LandedOn</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.LandedOn)
	</div>
</fieldset>
<p>
	@if (Model.IsReadyToLaunch()) {
		<a href="javascript:shuttle.launch('@Model.Id')">Launch</a> 
	} 
	@if (Model.IsReadyToLand()) {
		<a href="javascript:shuttle.land('@Model.Id')">Land</a> 
	}
	@if (Model.IsReadyToLoad()) {
		<a href="javascript:shuttle.load('@Model.Id')">Load Payload</a> 
	}
	@if (Model.IsReadyToRelease()) {
		<a href="javascript:shuttle.release('@Model.Id')">Release Payload</a> 
	}
	|	
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>

<div id="launch-modal" Title="Closed-Circuit Feed" style="display:none">
	<iframe width="560" height="315" src="http://www.youtube.com/embed/KBLPkxhSGlM?autoplay=1&rel=0&border=0&start=33" frameborder="0" allowfullscreen></iframe>
</div>

<div id="release-modal" Title="Closed-Circuit Feed" style="display:none">
	<iframe width="560" height="315" src="http://www.youtube.com/embed/emmCNdZZqng?autoplay=1&rel=0&border=0" frameborder="0" allowfullscreen></iframe>
</div>

<div id="land-modal" Title="Closed-Circuit Feed" style="display:none">
	<iframe width="560" height="315" src="http://www.youtube.com/embed/-R2dCWZ92ew?autoplay=1&rel=0&border=0&start=33" frameborder="0" allowfullscreen></iframe>
</div>

<div id="load-modal" Title="Enter Payload" style="display:none">
	@using (Html.BeginForm("Load", "Shuttle", FormMethod.Post, new {id="loadpayload-form"}))
	{
		@Html.HiddenFor(model => model.Id)
	 
		<fieldset>
			<label for="payload">Payload</label>
			<input type="text" name="payload" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	}
</div>